.archive-container {
	margin-bottom: 2rem;
	font-size: 0.9rem;
	
	p { 
		margin-bottom: 0.5rem;
	}

	a {
		color: #000;
	}

	h2.profile-name {
		font-size: 1.1rem;
		margin-bottom: 0.4rem;
		text-align: center;
	}

	.profile-image {
		padding: 0;
		text-align: center;

		img {
			margin: auto;
			margin-bottom: 0.75rem;
		}
	}

	.profile-archive-item {
    	margin-bottom: 3rem;
    	border-bottom: 1px dotted #000;
	}


	p.profile-view-link {
		text-align: right;
	}

}

article.austeve-profiles {

	text-align: center;
	max-width: 700px;
	margin: auto;

	.row {
		padding: 1rem 0.75rem;
	}

	div.profile-about::before {
		border-top: 1px dotted;
		width: 50%;
		display: inline-block;
		padding-bottom: 1rem;
	}

	div.profile-social a {
		margin: 0 0.5rem;
	}

	h1.entry-title {
		background-color: rgba(0,0,0,0.8);
    	color: #FFF;
    	padding: 1.5rem;
    	text-transform: uppercase;
    	font-size: 1.875em;
    	position: relative;
	}

	h1.entry-title:after {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: -10px;
	    left: 50%;
	    margin-left: -5px;
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid transparent;
	    border-top-color: rgba(0,0,0,0.8);
	}
}

.edit-profile-page {

	max-width: 700px;
	margin: auto;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	background-color: rgba(255, 255, 255, 0.5);

	.row {
		padding: 1rem 0.75rem;
	}

	h1.entry-title {
		text-align: center;
		background-color: rgba(0,0,0,0.8);
    	color: #FFF;
    	padding: 1.5rem;
    	text-transform: uppercase;
    	font-size: 1.875em;
    	position: relative;
	}

	h1.entry-title:after {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: -10px;
	    left: 50%;
	    margin-left: -5px;
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid transparent;
	    border-top-color: rgba(0,0,0,0.8);
	}

	#message.updated {
		background-color: white;
		color: green;
		border: 2px solid green;
		border-radius: 5px;
		font-size: 1.15rem;
		padding: 1rem;
		text-align: center;

		p {
			margin-bottom: 0;
		}
	}

	.acf-form-submit {
		text-align: center;
		margin: 2rem 0 2rem 0;
	}
}
