.archive-container.row {
	margin-bottom: 2rem;
	margin-left: 0;
	margin-right: 0;
	font-size: 0.9rem;
	
	p { 
		margin-bottom: 0.5rem;
	}

	a {
		color: #000;		
	}

	h2.profile-name {
		font-size: 1.1rem;
		margin-bottom: 0.4rem;
		text-align: center;
	}

	.profile-image {
		padding: 0;
		text-align: center;

		img {
			margin: auto;
			margin-bottom: 0.75rem;
		}
	}

	.profile-archive-item {
    	margin-bottom: 3rem;
    	border-bottom: 1px dotted #000;
	}


	p.profile-view-link {
		text-align: right;
	}

}

article.austeve-profiles {

	text-align: center;
	max-width: 700px;
	margin: auto;

	.row {
		padding: 1rem 0.75rem;
	}

	div.profile-about::before {
		border-top: 1px dotted;
		width: 50%;
		display: inline-block;
		padding-bottom: 1rem;
	}

	div.profile-social a {
		margin: 0 0.5rem;
	}

	h1.entry-title {
		background-color: rgba(0,0,0,0.8);
    	color: #FFF;
    	padding: 1.5rem;
    	text-transform: uppercase;
    	font-size: 1.875em;
    	position: relative;
	}

	h1.entry-title:after {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: -10px;
	    left: 50%;
	    margin-left: -5px;
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid transparent;
	    border-top-color: rgba(0,0,0,0.8);
	}

	.portfolio-project {
	    margin-bottom: 3rem;
	}

	h3.project-title {
	    margin-bottom: 0.8rem;
	}

	.portfolio-project .project-description p {
	    margin-bottom: 1rem;
	}

	p.work-description {
	    font-size: 0.9rem;
	    font-style: italic;
	    margin-top: 0.35rem;
	}

	span.work-av iframe {
	    margin-bottom: 0;
	}	
}

.edit-profile-page {

	margin-bottom: 2rem;
	padding-bottom: 1rem;
	background-color: rgba(255, 255, 255, 0.5);

	div.acf-field:not(.fullwidth) {
		max-width: 700px;
		margin: auto;
	}

	.row {
		padding: 1rem 0.75rem;
	}

	h1.entry-title {
		text-align: center;
		background-color: rgba(0,0,0,0.8);
    	color: #FFF;
    	padding: 1.5rem;
    	text-transform: uppercase;
    	font-size: 1.875em;
    	position: relative;
	}

	h1.entry-title:after {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: -10px;
	    left: 50%;
	    margin-left: -5px;
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid transparent;
	    border-top-color: rgba(0,0,0,0.8);
	}

	#message.updated {
		background-color: white;
		color: green;
		border: 2px solid green;
		border-radius: 5px;
		font-size: 1.15rem;
		padding: 1rem;
		text-align: center;

		p {
			margin-bottom: 0;
		}
	}

	.acf-form-submit {
		text-align: center;
		margin: 2rem 0 2rem 0;
	}

	a:hover {
		cursor: pointer;
	}

	th {
		text-transform: none;
		font-weight: bold;

		p.description {
			font-weight: normal;
			color: #b1a9bb;
		}
	}

	.acf-repeater td.acf-row-handle span::before {
		content: "Project #";
	}

	ul.acf-actions {
		margin-top: 1.5rem;

		a.acf-button {
			padding: 12px 20px;
			color: #fff;
			background-color: #607d8b;
		}
	}
}

#member-filters {
	text-align: center;
	margin-bottom: 3rem;
}

#name-filter {
	max-width: 65%;
}


#member-filters .filter-group select, #member-filters .filter-group #clear-filters {
    margin-top: 1rem;
}

.navigation {

	margin: 1rem 0 1rem 0;
	font-size: 0.9rem;
	
	a {
		color: #000;		
	}

	nav {
		margin: 1rem 0 3rem 0;
	}

	.page-nav {
		display: inline-block;
		width: 49%;
	}

	.next-posts-link {
		text-align: right;
	}

	.prev-posts-link {
		text-align: left;
	}

}

.nav-info {
	text-align: right;
	font-size: 0.9rem;
}