.archive-container {
	margin-bottom: 2rem;
	font-size: 0.9rem;
	
	p { 
		margin-bottom: 0.5rem;
	}

	a {
		color: #000;
	}

	h2.profile-name {
		font-size: 1.1rem;
		margin-bottom: 0.4rem;
		text-align: center;
	}

	.profile-image {
		padding: 0;
		text-align: center;

		img {
			margin: auto;
			margin-bottom: 0.75rem;
		}
	}

	.profile-archive-item {
    	margin-bottom: 3rem;
    	border-bottom: 1px dotted #000;
	}


	p.profile-view-link {
		text-align: right;
	}

}