/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
	.archive-container {

		h2.profile-name {
			text-align: left;
		}

		.profile-archive-item {
	    	min-height: 8rem;
		}

		.profile-image {

			img {
				margin-bottom: 0;
			}
		}
	}

	article.austeve-profiles {

		label {
			display: inline-block;
		}

	}
}