/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
	.archive-container.row {

		h2.profile-name {
			text-align: left;
		}

		.profile-archive-item {
	    	min-height: 10rem;
		}

		.profile-image {

			img {
				margin-bottom: 0;
			}
		}
	}

	article.austeve-profiles {

		label {
			display: inline-block;
		}

	}

	#member-filters .filter-group select, #member-filters .filter-group #clear-filters {
	    max-width: 45%;
	    margin-top: 1rem;
	}

	#profile-type-filter{
		margin-left: 1rem;
	}
}